<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rachel030219.yibansubmission">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YibanSubmission">
        <activity android:name=".LoginActivity"
            android:label="@string/login_label"/>
        <activity android:name=".TasksActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskPreferenceActivity"
            android:label="@string/task_menu_settings"/>
        <receiver android:name=".TaskCheckAffiliatedReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="net.rachel030219.yibansubmission.DELAY"/>
                <action android:name="net.rachel030219.yibansubmission.SUBMIT"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>